<IfModule mod_rewrite.c>
     RewriteEngine on
     RewriteBase /
     RewriteCond %{DOCUMENT_ROOT}/public/ -f [OR]
     RewriteCond %{DOCUMENT_ROOT}/public/ -d [OR]
     RewriteCond %{DOCUMENT_ROOT}/public/ -l
     RewriteRule ^(.*)$ public/index.php [L]
</IfModule>