img {
     object-position: center;
     object-fit: cover;
}
.hidden {
     display: none !important; 
}
/* Navbar */
.navbar-admin { 
     height: 15vh; 
     max-height: 80px; 
     overflow: hidden; 
     padding: .5rem 1rem; 
     background-color: #ffffff; 
     border-bottom: 0.8px solid rgba(0, 0, 0, .15); 
     justify-content: flex-end;
}
.img_profile_circle { 
     height: 42px; 
     width: 42px; 
     border-radius: 50px; 
}

/* Header */
#menu-user { 
     top: 85px; 
     right: -1000px; 
     height: auto; 
     border: 1px solid rgba(0, 0, 0, 0.102); 
     max-width: 235px; 
     width: 100%; 
     border-radius: .5rem; 
     z-index: 999999; 
     box-shadow: 0.25rem .25rem 1.25rem rgba(0, 0, 0, 0.102);
     background-color: #ffffff;
     padding: 0; 
     overflow: hidden;
     transition: display 500ms ease-in-out;
     display: none;
}
#menu-user.show{     
     animation: showmenu 1s forwards;
     display: block;
}
#menu-user.hide{     
     animation: hidemenu 1s forwards;
}
#menu-user ul {
     width: 100%; 
     margin: 0; 
     padding: 0; 
     box-sizing: border-box; 
     list-style: none;
}
#menu-user ul li:hover {
     background-color: #f5f5f5;
}
#menu-user ul li {
     box-sizing: border-box; 
     width: inherit; 
     background-color: #ffffff;
     border-bottom: 1px solid rgba(0,0,0, .2);
}
#menu-user ul li:last-child {
     border-bottom: none;
}
#menu-user ul li a {
     display: block; 
     padding: .5rem 1rem;
     line-height: 1.5; 
     color: inherit; 
     transition: all ease-out 500ms; 
     box-sizing: content-box;
     font-size: 1.09rem;
     overflow: hidden;
}
@keyframes showmenu {
     0% {
          right: 0px;
     }
     50% {
          right: 15px;
     }
     90% {
          right: 10px;
     }
     100% {
          right: 15px;
     }
}

@keyframes hidemenu {
     0% {
          right: 15px;
          display: block;
     }
     10% {
          right: 10px;
          display: block;
     }
     50% {
          right: 15px;
          display: block;
     }
     100% {
          right: -1000px;
          display: block;
     }
}

/* Alert */
.alert.show { 
     animation: mymove 750ms forwards; 
}
.flash .alert { 
     border-right-width: 5px; 
     max-width: 450px; 
     position: fixed; 
     bottom: 3.5em; 
     left: -1000px; 
     z-index: 99999999; 
}
.alert-danger { 
     border-right-color: #721c24; 
}
.alert-success { 
     border-right-color: #155724; 
}
.alert-warning { 
     border-right-color: #856404; 
}
.alert-info { 
     border-right-color: #0c5460; 
}
.alert-primary { 
     border-right-color:#004085; 
}
.alert-secondary { 
     border-right-color: #383d41; 
}
.alert-dark { 
     border-right-color: #1b1e21; 
}
.alert-light { 
     border-right-color: #818182; 
}
@keyframes mymove {
     0% {
          left: 0px;
     }
     50% {
          left: 15px;
     }
     90% {
          left: 10px;
     }
     100% {
          left: 15px;
     }
}

/* Dropdown */
.drop-down { 
     border-radius: .209rem; 
     border: 1px solid rgba(0, 0, 0, 0.105); 
     padding: 0; 
     margin-bottom: 10px; 
     background-color: #ffffff; 
     height: auto; 
     overflow: hidden !important; 
}
.icofont-caret-down { 
     font-size: 1.75rem; 
}
.drop-down > * { 
     padding: .5rem 1rem; 
}
.drop-down:hover { 
     cursor: pointer; 
}
.drop-btn { 
     font-size: 1.33rem; 
     border-bottom: 1px solid rgba(0, 0, 0, 0.105); 
}
.drop { 
     transition: all ease-out .4s; 
     pointer-events: all; 
}
.drop-down.show{ 
     animation: display 300ms forwards ease-out; 
}

@keyframes display {
     0% { 
          height: 45px; 
     } 
     25% { 
          height: 65px;
     }  
     50% { 
          height: 85px;
     }  
     75% { 
          height: 125px;
     } 
     100% { 
          height: auto; 
     }
}    

/* Main */
#wrapper { 
     height: calc(100vh - 80px); 
     width: 100%; 
     display: flex; 
     flex-direction: row; 
     margin-top: 0; 
     box-sizing: border-box; 
}
#mobi-nav { 
     width: 20%; 
     max-width: 225px; 
     background-color: #ffffff; 
     border-right: 0.8px solid rgba(0, 0, 0, .15); 
     height: 100%; 
     padding: 20px 0 0; 
     z-index: 99999;
     overflow: hidden;
     transition: width 800ms ease-in-out;
}

@media screen and (max-width : 1350px) {
     #mobi-nav {
          width: 0;
          position: absolute;
          top: 80px;
          left: 0;
     }
     #hamburger-menu {
          display: block !important;
     }
     .navbar-admin {
          justify-content: space-between;
     }
}

@media screen and (max-width : 500px) {
     #mobi-nav {
          max-width: unset;
          width: 0;
     }
}
main { 
     width: 100%; 
     height: 100%; 
     overflow-y: scroll; 
     padding: 1rem; 
     box-sizing: border-box; 
}
#wrapper #main { 
     margin-top: 0; 
     background-color: #f9f9f9; 
}
#main section { 
     height: 100%; 
     padding:0 
}
.menu-aside-admin { 
     padding: .75rem 0; 
}
.nav-vertical { 
     width: 100%; 
     margin: 0; 
     padding-left: 0; 
     box-sizing: border-box; 
}
.nav-vertical-item { 
     width: 100%; 
     background-color: #ffffff; 
     box-sizing: border-box; 
}
.nav-vertical-link { 
     padding: 8px 0px 8px 10px; 
     width: calc(100% - 20px); 
     display: block; 
     border-radius: 0 24px 24px 0; 
     transition: ease-in-out all 500ms; 
     font-size: 1.09em; 
     color: #444444; 
}
.nav-vertical-link:hover, .nav-vertical-link.active { 
     background-color: rgba(116, 81, 235, 0.1); 
     cursor: pointer; 
     color: rgba(0, 0, 0, 0.92); 
     text-decoration: none; 
}
#hamburger-menu { 
     color: inherit; 
     font-size: 1.75rem;
     display: none; 
}
#hamburger-menu:hover { 
     color:inherit; 
     text-decoration: none; 
}

/* Uploaded image */
#uploaded-img { 
     max-width: 100%; width: auto; 
}

.text-underline { 
     text-decoration: underline !important; 
}

#loader-container { 
     background-color: rgba(0, 0, 0, 0.255); 
     position: fixed; 
     top: 0; 
     left: 0; 
     width: 100%; 
     height: 100vh; 
     display: flex; 
     justify-content: center; 
     flex-direction: column; 
     align-items: center; 
     z-index: 999999; 
}

.loader { 
     border: .45rem solid #f9f9f9 /* Light grey */;  
     border-top: .45rem solid #444444 /* Blue */;  
     border-radius: 50%;  
     width: 150px;  
     height: 150px; }

.loader.spin { 
     animation: spin 1s linear infinite; 
} 
   
@keyframes spin { 
     0% { 
     transform: rotate(0deg); 
     } 
     100% { 
          transform: rotate(360deg); 
     } 
}

.accordion { 
     background-color: #ffffff; 
     padding: .75rem; 
     width: 100%; 
     font-size: 1.2rem; 
     font-weight: 500; 
}
.accordion:hover, .accordion.active {  
     background-color: #F1F1F1; 
}
.accordion a, .accordion a:hover { 
     color: inherit; 
}
.accordion i { 
     font-size: 1.35rem; 
     line-height: inherit; 
}
.panel { 
     width: 100%; 
     display: flex; 
     flex-direction: column; 
     justify-content: flex-start; 
     font-size: 1.09rem; 
     height: 0; 
     overflow: hidden; 
     transition: height 900ms ease-in-out; 
}
.panel-menu { 
     width: 100%; 
     padding: 0; 
     list-style: none; 
     margin: 0; 
     border-bottom: 1px solid rgba(0, 0, 0, 0.105); 
}
.dropdown:hover { 
     cursor: pointer; 
}
.panel-item { 
     box-sizing: border-box; 
     width: inherit; 
}
.panel-link { 
     display: block; 
     padding: .45rem 1rem; 
     color: inherit; 
     transition: all ease-out 500ms; 
}
.panel-link:hover { 
     color: #178fd6; 
     background-color: #F1F1F1; 
}

#dashboard { 
     padding: .33rem 1rem; 
}
#page-category .form { 
     top: -20px; 
     left: 0; 
     z-index: 999999; 
     width: 100%; 
     height: 100vh; 
     background-color: #f9f9f9; 
     padding: 10px 0; 
     overflow: hidden; 
}
#close-form { 
     font-size: 1.5rem; 
     line-height: normal; 
     margin-right: 10px; 
     border-radius: .5rem; 
     padding: .25rem .4rem; 
     transition: 400ms all ease-in-out; 
     box-sizing: content-box; 
     border: 1.5px solid transparent; 
}
#close-form:hover { 
     border: 1.5px solid #444444; 
     cursor: pointer; 
     background-color: #1b1e21; 
     color: #F1F1F1; 
}
.btn.btn-green {
     color: #ffffff; 
     border: 1px solid #34b7a7;
     background-color: #34b7a7;
     padding: .2rem 1rem;
}
.btn-green:hover {
     color: #ffffff; 
     box-shadow: .25rem .25rem 1.25rem rgba(0, 0, 0, 0.35);
}

/* Page message */
#page-message
{
     position: relative;
     width: 100%;
     height: 100%;
}
.message
{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #f9f9f9;
     z-index: 999999;
     padding: 1rem 2rem;
}

/* Dashboard page */
.dash-panel
{
     height: auto;
     min-height: 20vh;
     font-size: 1.2rem;
}
.dash-panel > a 
{
     color: #444444;
}
.dash-panel a:hover 
{
     color: #444444;
}
#form-edit-role {
     width: 100%;
     max-width: 300px;
     height: auto;
     padding: .25rem 1.09rem .75rem;
     position: fixed;
     bottom: 1.5rem;
     right: 2rem;
     background-color: #ffffff;
     border-radius: .25rem;
     box-shadow: .25rem .25rem 1.25rem rgba(54, 33, 33, 0.35);
     z-index: 999999;
}